.chat-header {
  height: 60px;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}
